---
- name: Install Docker
  hosts: swarm_nodes
  roles:
    - role: geerlingguy.docker
      become: true
  tasks:
    - name: Install python deps for ansible
      ansible.builtin.apt:
        name:
          - python3-docker
          - python3-jsondiff
        state: present
        update_cache: true
      become: true

    - name: Add user to docker group
      ansible.builtin.user:
        name: "{{ ansible_user }}"
        groups: docker
        append: yes
      register: docker_user_result
      become: true

    - name: Ensure Docker systemd override directory exists
      file:
        path: /etc/systemd/system/docker.service.d
        state: directory
        owner: root
        group: root
        mode: '0755'

    - name: Set Docker systemd override to wait for network-online
      copy:
        dest: /etc/systemd/system/docker.service.d/override.conf
        owner: root
        group: root
        mode: '0644'
        content: |
          [Unit]
          Requires=network-online.target
          After=network-online.target

    - name: Reload systemd daemon to apply changes
      ansible.builtin.systemd_service:
        daemon_reload: true

    - name: Restart Docker to ensure new dependencies are honored
      ansible.builtin.systemd_service:
        name: docker
        state: restarted

- name: Provision Pi Swarm
  hosts: swarm_nodes
  tasks:
    - name: Init docker swarm
      community.docker.docker_swarm:
        state: present
      register: __output_swarm
      when: inventory_hostname in groups['swarm_managers'][0]

    - name: Install manager
      community.docker.docker_swarm:
        state: join
        timeout: 60
        join_token: "{{ hostvars[groups['swarm_managers'][0]]['__output_swarm']['swarm_facts']['JoinTokens']['Manager'] }}"
        remote_addrs: "{{ groups['swarm_managers'] | map('extract', hostvars, ['ansible_default_ipv4', 'address']) | first }}"
      when: inventory_hostname in groups['swarm_managers'] and inventory_hostname not in groups['swarm_managers'][0]

    # TODO this didn't work first time, rerunning the playbook it worked? Investigate
    - name: Install worker
      community.docker.docker_swarm:
        state: join
        timeout: 60
        join_token: "{{ hostvars[groups['swarm_managers'][0]]['__output_swarm']['swarm_facts']['JoinTokens']['Worker'] }}"
        remote_addrs: "{{ groups['swarm_managers'] | map('extract', hostvars, ['ansible_default_ipv4', 'address']) | first }}"
      when: inventory_hostname in groups['swarm_workers']
      retries: 5
      delay: 5
      register: worker_join_result
      until: worker_join_result is succeeded

