---
- name: Update and restart the Pi
  hosts: swarm_nodes
  serial: 1
  tasks:
    - import_role:
        name: roles/update_node_availability
      vars:
        availability_mode: drain

    - name: Pause so the services can drain
      ansible.builtin.pause:
        seconds: 5

    - name: Apt update
      ansible.builtin.apt:
        update_cache: yes
        name: "*"
        state: latest
      become: true

    - name: Prune Docker
      community.docker.docker_prune:
        containers: true
        images: true
        images_filters:
          dangling: false
        networks: true
        volumes: true
        builder_cache: true

    - name: Reboot the pi
      ansible.builtin.reboot:
        msg: "Ansible is rebooting the pi to apply updates"
        reboot_timeout: 1200
      become: true

    - name: Mount the gluster volume
      ansible.posix.mount:
        src: localhost:/appdata
        path: /mnt/gluster/appdata
        state: mounted
        fstype: glusterfs
        opts: defaults,_netdev,backupvolfile-server=localhost
      become: true

    - import_role:
        name: update_node_availability
      vars:
        availability_mode: active
